## Libreria Pandas
Como seleccionar filas y columnas de un dataframe

In [1]:
import pandas as pd

In [2]:
info_pais = {"pais":["España", "Francia", "Italia", "Austria", "Bélgica", "Alemania"],
             "capital":["Madrid","París","Roma","Viena","Bruselas","Berlin"],
             "superficie (Mkm2)": [8.5, 1.9, 1.2, 0.5, 1.1,0.9]}

In [3]:
df_pais = pd.DataFrame(info_pais)

In [4]:
df_pais

       pais   capital  superficie (Mkm2)
0    España    Madrid                8.5
1   Francia     París                1.9
2    Italia      Roma                1.2
3   Austria     Viena                0.5
4   Bélgica  Bruselas                1.1
5  Alemania    Berlin                0.9

In [5]:
#Selección Tradicional

In [6]:
df_pais[["capital"]]

    capital
0    Madrid
1     París
2      Roma
3     Viena
4  Bruselas
5    Berlin

In [7]:
df_pais[["capital", "superficie (Mkm2)"]]

    capital  superficie (Mkm2)
0    Madrid                8.5
1     París                1.9
2      Roma                1.2
3     Viena                0.5
4  Bruselas                1.1
5    Berlin                0.9

In [8]:
df_pais[2:5]

      pais   capital  superficie (Mkm2)
2   Italia      Roma                1.2
3  Austria     Viena                0.5
4  Bélgica  Bruselas                1.1

In [9]:
#Selección LOC/ILOC

In [12]:
#definir index
df_pais.index = ["BR","ME","ES","PE","CO","VE"]

In [11]:
df_pais

        pais   capital  superficie (Mkm2)
BR    España    Madrid                8.5
ME   Francia     París                1.9
ES    Italia      Roma                1.2
PE   Austria     Viena                0.5
CO   Bélgica  Bruselas                1.1
VE  Alemania    Berlin                0.9

In [13]:
df_pais.loc[["ES","CO"],["capital", "superficie (Mkm2)"]]

     capital  superficie (Mkm2)
ES      Roma                1.2
CO  Bruselas                1.1

In [24]:
df_pais.loc[:,["capital", "superficie (Mkm2)"]]
#todos los indices, columnas capital y superficie

     capital  superficie (Mkm2)
BR    Madrid                8.5
ME     París                1.9
ES      Roma                1.2
PE     Viena                0.5
CO  Bruselas                1.1
VE    Berlin                0.9

In [21]:
df_pais.loc[["BR"],["capital"]]
#indice BR, columna capital

   capital
BR  Madrid

In [23]:
df_pais.iloc[[2,4],[1,2]]
#filas 2 y 4, columnas 1 y 2

     capital  superficie (Mkm2)
ES      Roma                1.2
CO  Bruselas                1.1

In [25]:
df_pais.iloc[:,[1,2]]
#todos los indices, columnas 1 y 2

     capital  superficie (Mkm2)
BR    Madrid                8.5
ME     París                1.9
ES      Roma                1.2
PE     Viena                0.5
CO  Bruselas                1.1
VE    Berlin                0.9