In [1]:
import pandas as pd
import numpy as np

In [2]:
dic_alumnos = {"Nombre":["Javier", "Marta", "Lucía", "Pedro","Juan","María"],
              "Evaluación Matemáticas":[5,7,8,4,10,np.NaN],
              "Evaluación Lengua":[8,9,7,5,8,6]}

In [3]:
df_alumnos = pd.DataFrame(dic_alumnos)

In [4]:
df_alumnos.head(10)

   Nombre  Evaluación Matemáticas  Evaluación Lengua
0  Javier                     5.0                  8
1   Marta                     7.0                  9
2   Lucía                     8.0                  7
3   Pedro                     4.0                  5
4    Juan                    10.0                  8
5   María                     NaN                  6

In [5]:
df_alumnos.shape

(6, 3)

In [6]:
df_alumnos.index

RangeIndex(start=0, stop=6, step=1)

In [7]:
df_alumnos.columns

Index(['Nombre', 'Evaluación Matemáticas', 'Evaluación Lengua'], dtype='object')

In [8]:
df_alumnos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Nombre                  6 non-null      object
 1   Evaluación Matemáticas  5 non-null      float64
 2   Evaluación Lengua       6 non-null      int64
dtypes: float64(1), int64(1), object(1)
memory usage: 272.0+ bytes

In [11]:
df_alumnos.count()
#valores no NAN de cada columna

Nombre                    6
Evaluación Matemáticas    5
Evaluación Lengua         6
dtype: int64

In [14]:
df_alumnos.count(0)
#valores no NAN de cada columna

Nombre                    6
Evaluación Matemáticas    5
Evaluación Lengua         6
dtype: int64

In [12]:
df_alumnos.count(axis="columns")
#valores no NAN de cada fila

0    3
1    3
2    3
3    3
4    3
5    2
dtype: int64

In [15]:
df_alumnos.count(1)
#valores no NAN de cada fila

0    3
1    3
2    3
3    3
4    3
5    2
dtype: int64

In [16]:
df_alumnos["Evaluación Matemáticas"].mean()

6.8

In [17]:
df_alumnos["Evaluación Matemáticas"].quantile(0.8)

8.4

In [18]:
df_alumnos["Evaluación Matemáticas"].min()

4.0

In [19]:
df_alumnos["Evaluación Matemáticas"].max()

10.0

In [20]:
df_alumnos.describe()
#genera valores estadísticos de las columnas, sin contar NaN

       Evaluación Matemáticas  Evaluación Lengua
count                5.000000           6.000000
mean                 6.800000           7.166667
std                  2.387467           1.471960
min                  4.000000           5.000000
25%                  5.000000           6.250000
50%                  7.000000           7.500000
75%                  8.000000           8.000000
max                 10.000000           9.000000

# Ejemplo

In [26]:
# lee archivo csv indicando el delimitador y la columna que será el index

In [23]:
df = pd.read_csv(r'./Datasets/PEATONES_2020_mod.csv', encoding = "ISO-8859-1",delimiter=";",index_col=2)

C:\Users\j\AppData\Local\Temp\ipykernel_12032\2535681666.py:1: DtypeWarning: Columns (0,1,2,5,6,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'./Datasets/PEATONES_2020_mod.csv', encoding = "ISO-8859-1",delimiter=";",index_col=2)

# Información básica Dataframe

In [24]:
df.head()

,FECHA,HORA,PEATONES,NÚMERO_DISTRITO,DISTRITO,NOMBRE_VIAL,NÚMERO,CÓDIGO_POSTAL,OBSERVACIONES_DIRECCION,LATITUD,LONGITUD
IDENTIFICADOR,,,,,,,,,,,
PERM_PEA02_PM01,01/01/2020,0:00:00,497.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,422009","-3,7008917"
PERM_PEA02_PM01,01/01/2020,0:15:00,244.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,422009","-3,7008917"
PERM_PEA02_PM01,01/01/2020,0:30:00,179.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,422009","-3,7008917"
PERM_PEA02_PM01,01/01/2020,0:45:00,174.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,422009","-3,7008917"
PERM_PEA02_PM01,01/01/2020,1:00:00,131.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,422009","-3,7008917"

In [25]:
df.shape

(288755, 11)

In [28]:
m=df.shape
print("filas: {}".format(m[0]))

filas: 288755

In [29]:
df.index

Index(['PERM_PEA02_PM01', 'PERM_PEA02_PM01', 'PERM_PEA02_PM01',
       'PERM_PEA02_PM01', 'PERM_PEA02_PM01', 'PERM_PEA02_PM01',
       'PERM_PEA02_PM01', 'PERM_PEA02_PM01', 'PERM_PEA02_PM01',
       'PERM_PEA02_PM01',
       ...
                     nan,               nan,               nan,
                     nan,               nan,               nan,
                     nan,               nan,               nan,
                     nan],
      dtype='object', name='IDENTIFICADOR', length=288755)

In [30]:
df.columns

Index(['FECHA', 'HORA', 'PEATONES', 'NÚMERO_DISTRITO', 'DISTRITO',
       'NOMBRE_VIAL', 'NÚMERO', 'CÓDIGO_POSTAL', 'OBSERVACIONES_DIRECCION',
       'LATITUD', 'LONGITUD'],
      dtype='object')

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 288755 entries, PERM_PEA02_PM01 to nan
Data columns (total 11 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   FECHA                    130542 non-null  object
 1   HORA                     130542 non-null  object
 2   PEATONES                 130539 non-null  float64
 3   NÚMERO_DISTRITO          130542 non-null  float64
 4   DISTRITO                 130542 non-null  object
 5   NOMBRE_VIAL              130542 non-null  object
 6   NÚMERO                   130542 non-null  float64
 7   CÓDIGO_POSTAL            130542 non-null  float64
 8   OBSERVACIONES_DIRECCION  130542 non-null  object
 9   LATITUD                  130542 non-null  object
 10  LONGITUD                 130542 non-null  object
dtypes: float64(4), object(7)
memory usage: 26.4+ MB

In [32]:
df.count()

FECHA                      130542
HORA                       130542
PEATONES                   130539
NÚMERO_DISTRITO            130542
DISTRITO                   130542
NOMBRE_VIAL                130542
NÚMERO                     130542
CÓDIGO_POSTAL              130542
OBSERVACIONES_DIRECCION    130542
LATITUD                    130542
LONGITUD                   130542
dtype: int64

# Datos estadísticos Dataframe

In [33]:
df["PEATONES"].sum()

61284918.0

In [34]:
df["PEATONES"].mean()

469.4759267345391

In [35]:
df["PEATONES"].median()

383.0

In [36]:
df["PEATONES"].quantile(0.9)

1000.0

In [37]:
df["FECHA"].min()

TypeError: '<=' not supported between instances of 'str' and 'float'

In [38]:
df["FECHA"].max()

TypeError: '>=' not supported between instances of 'str' and 'float'

In [39]:
df.describe()

            PEATONES  NÚMERO_DISTRITO         NÚMERO  CÓDIGO_POSTAL
count  130539.000000    130542.000000  130542.000000  130542.000000
mean      469.475927         2.523471      28.642108   28009.951916
std       388.035098         2.930520      24.724800       4.282434
min         1.000000         1.000000       1.000000   28001.000000
25%       144.000000         1.000000       4.000000   28005.000000
50%       383.000000         1.000000      34.000000   28012.000000
75%       716.000000         2.000000      37.000000   28013.000000
max      4759.000000        10.000000      91.000000   28015.000000

In [45]:
df["PEATONES_cum"] = df["PEATONES"].cumsum()
#crea una nueva columna, que es la suma acumulada (cumsum) sobre sobre el eje index ( si es cumsum(1) seria sobre las columnas

In [48]:
df[["PEATONES", "PEATONES_cum"]]
# En la nueva columna cada valor de la fila es la suma de los valores anteriores.
# Los NaN los ignora, salvo que se indique .cumsum(skipna=false)

                 PEATONES  PEATONES_cum
IDENTIFICADOR
PERM_PEA02_PM01     497.0         497.0
PERM_PEA02_PM01     244.0         741.0
PERM_PEA02_PM01     179.0         920.0
PERM_PEA02_PM01     174.0        1094.0
PERM_PEA02_PM01     131.0        1225.0
...                   ...           ...
NaN                   NaN           NaN
NaN                   NaN           NaN
NaN                   NaN           NaN
NaN                   NaN           NaN
NaN                   NaN           NaN

[288755 rows x 2 columns]

In [49]:
df[["PEATONES", "PEATONES_cum"]].head()

                 PEATONES  PEATONES_cum
IDENTIFICADOR
PERM_PEA02_PM01     497.0         497.0
PERM_PEA02_PM01     244.0         741.0
PERM_PEA02_PM01     179.0         920.0
PERM_PEA02_PM01     174.0        1094.0
PERM_PEA02_PM01     131.0        1225.0

In [41]:
df.head()

,FECHA,HORA,PEATONES,NÚMERO_DISTRITO,DISTRITO,NOMBRE_VIAL,NÚMERO,CÓDIGO_POSTAL,OBSERVACIONES_DIRECCION,LATITUD,LONGITUD,PEATONES_cum
IDENTIFICADOR,,,,,,,,,,,,
PERM_PEA02_PM01,01/01/2020,0:00:00,497.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,422009","-3,7008917",497.0
PERM_PEA02_PM01,01/01/2020,0:15:00,244.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,422009","-3,7008917",741.0
PERM_PEA02_PM01,01/01/2020,0:30:00,179.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,422009","-3,7008917",920.0
PERM_PEA02_PM01,01/01/2020,0:45:00,174.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,422009","-3,7008917",1094.0
PERM_PEA02_PM01,01/01/2020,1:00:00,131.0,1.0,Centro,Calle Fuencarral,22.0,28004.0,Calle peatonal Datos en prueba,"40,422009","-3,7008917",1225.0