## Libreria Pandas
Como hacer una limpieza de un dataframe

In [1]:
import pandas as pd

In [2]:
dic = {"ID_Prod":["A","B","C","C","E","A","Sin Catalogar"],
       "Tipo producto":["Pantalón","Pantalón","Camisa","Camisa","Zapato","Pantalón","Zapato"],
       "Color":["Azul", "Verde","Rojo","Morado","Gris","Azul","Verde"]}

In [3]:
df_prod = pd.DataFrame(dic)

In [4]:
df_prod.head(10)

         ID_Prod Tipo producto   Color
0              A      Pantalón    Azul
1              B      Pantalón   Verde
2              C        Camisa    Rojo
3              C        Camisa  Morado
4              E        Zapato    Gris
5              A      Pantalón    Azul
6  Sin Catalogar        Zapato   Verde

In [5]:
# Eliminamos Duplicados
df_prod.drop_duplicates(inplace=True)

In [7]:
# Eliminamos filas duplicados basándonos en una columna determinada
# (inplace=True elimina del original)
df_prod.drop_duplicates("ID_Prod",inplace=True)

In [8]:
df_prod

         ID_Prod Tipo producto  Color
0              A      Pantalón   Azul
1              B      Pantalón  Verde
2              C        Camisa   Rojo
4              E        Zapato   Gris
6  Sin Catalogar        Zapato  Verde

In [9]:
import numpy as np

In [10]:
dic = {"ID_Prod":["A","B","C","C","E","A",np.NaN],
       "Tipo producto":["Pantalón","Pantalón","Camisa","Camisa","Zapato","Pantalón","Zapato"],
       "Color":["Azul", "Verde","Rojo","Morado","Gris","Azul","Verde"]}

In [11]:
df_prod2 = pd.DataFrame(dic)

In [12]:
df_prod2

  ID_Prod Tipo producto   Color
0       A      Pantalón    Azul
1       B      Pantalón   Verde
2       C        Camisa    Rojo
3       C        Camisa  Morado
4       E        Zapato    Gris
5       A      Pantalón    Azul
6     NaN        Zapato   Verde

In [13]:
## Eliminar valores nulos
df_prod2.dropna(inplace=True)

In [20]:
df_prod2

  ID_Prod   Color
0       A    Azul
1       B   Verde
2       C    Rojo
3       C  Morado
4       E    Gris
5       A    Azul

In [15]:
# Eliminar la columna Tipo producto
df_prod2.drop("Tipo producto",axis=1,inplace=True)

In [18]:
df_prod2

  ID_Prod   Color
0       A    Azul
1       B   Verde
2       C    Rojo
3       C  Morado
4       E    Gris
5       A    Azul

## Ejemplo

In [23]:
df = pd.read_csv(r'./Datasets/PEATONES_2020_mod.csv', encoding = "ISO-8859-1",delimiter=";",index_col=2)

C:\Users\j\AppData\Local\Temp\ipykernel_14604\2535681666.py:1: DtypeWarning: Columns (0,1,2,5,6,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'./Datasets/PEATONES_2020_mod.csv', encoding = "ISO-8859-1",delimiter=";",index_col=2)

In [24]:
df.shape

(288755, 11)

In [25]:
df2 = df.drop_duplicates()

In [26]:
df2.shape

(130537, 11)

In [27]:
df3 = df2.dropna()

In [28]:
df3.shape

(130533, 11)

Calculamos cuantos datos erroneos hay

In [29]:
Datos_err = 288749-284863

In [30]:
Datos_err

3886

Calculamos el porcentaje de datos erroneos del dataframe

In [31]:
3886/288749*100

1.3458055265992264

## Ejercicio
Automatice el ejemplo anterior para que muestre por pantalla cuantos datos erroneos tiene cada columna