## Librería Pandas
Para imputar (rellenar) los valores perdidos se puede hacer de varias maneras o utilizando el comando
* ```fillna()``` con lo que rellenará los valores perdidos con un valor que se indique
* Haciendo interpolación con los datos. Para ello se utilizará el comando ```interpolate()```

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"A":[12, 4, 5, None, 1], 
                   "B":[3, 2, 54, 3, None], 
                   "C":[20, 16, None, 3, 8], 
                   "D":[14, 3, None, None, 6]})

In [3]:
df

      A     B     C     D
0  12.0   3.0  20.0  14.0
1   4.0   2.0  16.0   3.0
2   5.0  54.0   NaN   NaN
3   NaN   3.0   3.0   NaN
4   1.0   NaN   8.0   6.0

In [15]:
df_fill = df

In [16]:
df_fill["A"].fillna(df_fill["A"].median(),inplace=True)
#fillna rellena valores NaN de la columna A con valores definidos por el usuario
#en este caso la mediana. inplace=True modifica el original

In [17]:
df_fill

      A     B     C     D
0  12.0   3.0  20.0  14.0
1   4.0   2.0  16.0   3.0
2   5.0  54.0   NaN   NaN
3   4.5   3.0   3.0   NaN
4   1.0   NaN   8.0   6.0

In [18]:
df_interp = df.interpolate(method ='bfill', limit_direction ='backward')
# ffill rellena hacia delante con el ultimo valor valido col C 16.0 una vez, col D 3.0 dos veces
# bfill rellena hacia atras con el ultimo valor válido. col C 3.0 una vez, col D 6.0 dos veces

In [19]:
df_interp

      A     B     C     D
0  12.0   3.0  20.0  14.0
1   4.0   2.0  16.0   3.0
2   5.0  54.0   3.0   6.0
3   4.5   3.0   3.0   6.0
4   1.0   NaN   8.0   6.0