## Librería Pandas
Filtro de datos

In [1]:
import pandas as pd

In [2]:
df_temp = pd.DataFrame({"Fecha":["01/01/2021","01/01/2021","01/01/2021","02/01/2021","02/01/2021","02/01/2021"],
                        "Pais":["España","México","Venezuela","España","México","Venezuela"],
                        "Temperatura":[20,25,28,21,None,30]})

In [3]:
df_temp

        Fecha       Pais  Temperatura
0  01/01/2021     España         20.0
1  01/01/2021     México         25.0
2  01/01/2021  Venezuela         28.0
3  02/01/2021     España         21.0
4  02/01/2021     México          NaN
5  02/01/2021  Venezuela         30.0

In [8]:
df_temp[df_temp["Temperatura"]>22]
#muestra fila, si la columna Temperatura  es mayor que 22

        Fecha       Pais  Temperatura
1  01/01/2021     México         25.0
2  01/01/2021  Venezuela         28.0
5  02/01/2021  Venezuela         30.0

In [10]:
df_temp["Temperatura"]>22
# indica si los valores de la columna Temperatura son mayores o no que 22

0    False
1     True
2     True
3    False
4    False
5     True
Name: Temperatura, dtype: bool

In [11]:
df_temp[df_temp["Pais"]=="España"]

        Fecha    Pais  Temperatura
0  01/01/2021  España         20.0
3  02/01/2021  España         21.0

In [12]:
df_temp[df_temp["Pais"].str.match("España")]

        Fecha    Pais  Temperatura
0  01/01/2021  España         20.0
3  02/01/2021  España         21.0

In [13]:
df_temp[df_temp["Fecha"]=="02/01/2021"]

        Fecha       Pais  Temperatura
3  02/01/2021     España         21.0
4  02/01/2021     México          NaN
5  02/01/2021  Venezuela         30.0

In [14]:
df_temp[(df_temp["Pais"]=="México") & (df_temp["Temperatura"].notnull())]

        Fecha    Pais  Temperatura
1  01/01/2021  México         25.0

In [15]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        6 non-null      object
 1   Pais         6 non-null      object
 2   Temperatura  5 non-null      float64
dtypes: float64(1), object(2)
memory usage: 272.0+ bytes

## Ejemplo

In [ ]:
df = pd.read_csv(r'./Datasets/PEATONES_2020_mod.csv', encoding = "ISO-8859-1",delimiter=";",index_col=2)

In [ ]:
df.head(10)

In [ ]:
df.shape

In [ ]:
df2 = df[(df["FECHA"]>="01/01/2020") & (df["FECHA"]<="01/05/2020")]

In [ ]:
df2

In [ ]:
df2 = df2[df2["DISTRITO"].str.contains("Centro")]

In [ ]:
df2

In [ ]:
df2 = df[(df["FECHA"]>="01/01/2020") & (df["FECHA"]<="01/05/2020") & (df["DISTRITO"].str.contains("Centro"))]

In [ ]:
df2

In [ ]:
df2.count()

In [ ]:
df2.head(10)

In [ ]:
df_interp = df2.interpolate(method ='linear', limit_direction ='forward')

In [ ]:
df_interp.count()

In [ ]:
df_interp.head(10)